#header_part{
    background: #0872b9;
    height: 50px;
    line-height: 50px;
}

.header_text p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;
    text-transform: capitalize;
}


.header_icon ul{
    float: right;
    list-style: none;
}

.header_icon ul li{
    float: left;
    margin-left: 20px;
}

.header_icon ul li a{
    color: #fff;
}

.header_icon ul li a:hover{
    color: #5bc5f4;
}

/* header part end */


/* menu and logo part start */

#menu{
    background: #fff;
/*
    position: fixed;
    width: 100%;
    z-index: 999;
*/
}

#menu ul{
    margin-right: 25px;
}

#menu ul li{
    margin-left: 10px;
}

#menu ul li a{
    color: #353535;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#menu ul li a:hover{
    color: #0872b9;
}

.search_icon{
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 2px solid #5bc5f4;
    border-radius: 50%;
    color: #5bc5f4;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.search_icon:hover{
    color: #fff;
    background: #5bc5f4;
}

/* menu and logo part end */


/* banner part start */

.banner{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 130px 0px 130px;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.banner_text{
   text-align: right;
}

.banner_text h3{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.banner_text h2{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.banner_text p{
    color: #fff;
    margin: 0px 0px 50px 660px;;
}

.banner_text a{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 12px 38px;
    border: 1px solid #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0px 8px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.banner_text a:hover{
    background: #0872b9;
    border-color: #0872b9;
}

.fixed_color{
    background: #0872b9;
    border-color: #0872b9;
}

.search_div{
    width: 100%;
    height: 100%;
    background: rgba(12, 36, 97, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.close_icon{
    position: absolute;
    top: -4px;
    right: 5px;
    color: #fff;
    font-size: 35px;
    margin-left: auto;
}

.search_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0f2f44;
    border: 2px solid #18dcff;
    border-radius: 40px;
    padding: 10px;
}

.search_box input{
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    width: 350px;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
}

.search_box button{
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    background: #0f2f44;
    border: 1.5px solid #18dcff;
    border-radius: 40px;
    color: #ffc712;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.search_box button:hover{
    background: #18dcff;
}

/* banner part end */


/* about part start */

#about_part{
    background: #fff;
    padding: 70px 0px;
}

.about_heading{
    text-align: center;
    padding: 0px 0px 50px;
}

.about_heading h3{
    color: #353535;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.about_heading img{
    margin-right: 30px;
}

.about_image img{
    width: 100%;
}

.about_text p{
    padding-top: 50px;
    line-height: 30px;
    text-align: justify;
    color: #555;
}

.about_text p span{
    display: block;
    margin-top: 35px;
}

/* about part end */


/* about count part start */

#count_part{
    background: url(../images/count.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

.count_shape{
    background: rgba(0, 0, 0, 0.7);
    padding: 100px 0px;
}

.counting{
    height: 230px;
    width: 220px;
    text-align: center;
    position: relative;
}

.counting:after{
    position: absolute;
    content: "";
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background: #5bc5f4;
}

.counting i{
    font-size: 40px;
    color: #5bc5f4;
}

.counting h3{
    font-size: 35px;
    color: #fff;
    margin-top: 8px;
}

.counting h4{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    margin: 20px 0px 20px;
}

.counting p{
    color: #f1f1f1;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;
}

/* about count part end */


/* our services part start */

#service_part{
    background: #fff;
    padding: 50px 0px 70px;
}

.service_heading{
    text-align: center;
    padding: 0px 0px 60px;
}

.service_heading h3{
    color: #353535;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.service_heading img{
    margin-right: 65px;
}

.pencil{
    background: #f1f1f1;
    height: 165px;
    text-align: center;
    border-radius: 3px;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.pencil:hover{
    background: #5bc5f4;
}

.pencil h3{
    color: #353535;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding-top: 45px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.pencil p{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;
    margin: 15px 25px 0px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.pencil:hover h3,
.pencil:hover p{
    color: #fff;
}

.pencil .image_round{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: #f1f1f1;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.pencil .image_round2{
    position: absolute;
    top: -2px;
    left: -2px;
    width: 72px;
    height: 72px;
    border: 1px solid #5bc5f4;
    border-radius: 50%;
}

.pencil .image_round3{
    position: absolute;
    top: -4px;
    left: -4px;
    width: 76px;
    height: 76px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.pencil:hover .image_round{
    background: #5bc5f4;
}

/* our services part end */


/* our protfolio part start */

#prot_part{
    background: #fff;
    padding: 10px 0px 70px;
}

.prot_heading{
    text-align: center;
    padding: 0px 0px 60px;
}

.prot_heading h3{
    color: #353535;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.prot_heading img{
    margin-right: 75px;
}

#prot_part ul{
    list-style: none;
}

#prot_part ul li{
    position: relative;
    margin-right: 15px;
}

#prot_part ul li img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#prot_part ul li:first-child{
    margin-bottom: 15px;
}

#prot_part ul li .prot_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#prot_part ul li:hover .prot_overlay{
    visibility: visible;
    height: 100%;
    opacity: 1;
}

.prot_overlay a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5bc5f4;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #5bc5f4;
    border-radius: 50%;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.prot_overlay a i:hover{
    color: #fff;
    background: #5bc5f4;
}

/* our protfolio part end */


/* our team part start */

#team_part{
    background: #fff;
    padding: 10px 0px 90px;
}

.team_heading{
    text-align: center;
    padding: 0px 0px 50px;
}

.team_heading h3{
    color: #353535;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.team_heading img{
    margin-right: 30px;
}

.team_member{
    width: 250px;
    height: 300px;
    position: relative;
}

.team_member img{
    width: 250px;
    height: 300px;
    border-radius: 3px;
}

.team_member .team_overlay{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 300px;
    background: rgba(0, 0, 0, 0.6);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.team_member:hover .team_overlay{
    visibility: visible;
    opacity: 1;
    width: 80px;
}

.team_overlay ul{
    margin-top: 18px;
}

.team_overlay ul li{
    margin: 6px 0px;
}

.team_overlay ul li a i{
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.team_overlay ul li a i:hover{
    background: #5bc5f4;
    border-color: #5bc5f4;
}

.team_member h3{
    text-align: center;
    color: #353535;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    margin-top: 15px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.team_member:hover h3{
    color: #5bc5f4;
}

.team_member p{
    text-align: center;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
}

/* our team part end */


/* testimonial part start */

#testi_part{
    background: #fff;
    padding: 50px 0px 90px;
}

.testi_heading{
    text-align: center;
    padding: 0px 0px 30px;
}

.testi_heading h3{
    color: #353535;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.testi_heading img{
    margin-right: 50px;
}

.testi_person{
    text-align: center;
}

.testi_person img{
    margin-bottom: 35px;
    margin-left: 10px;
}

.testi_person .testi_text{
    width: 550px;
    padding: 15px 0px;
    background: #f1f1f1;
    border-radius: 3px;
    position: relative;
}

.testi_text:after{
    position: absolute;
    content: "";
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    border-radius: 3px;
    
}

.testi_text h3{
    color: #353535;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding-top: 25px;
}

.testi_text ul{
    margin-right: 42px;
    margin-top: 8px;
}

.testi_text ul li{
    list-style: none;
    display: inline-flex;
}

.testi_text ul li a i{
    color: #5bc5f4;
}

.testi_text h5{
    color: #555;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.testi_text p{
    margin: 15px 60px 0px;
    line-height: 24px;
    color: #555;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

/* testimonial part end */


/* contact part start */

.contact_part{
    background: #353535;
    padding: 10px 0px 30px;
}

.contact_text p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;
    text-align: justify;
    margin-top: 30px;
}

.contact_number .phone_icon{
    position: relative;
}

.contact_number h3{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
}

.phone_icon i{
    background: #5bc5f4;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0px;
}

.phone_icon .mr_top{
    margin-top: 30px;
}

.phone_icon p{
    color: #fff;
    margin: 30px 0px 30px 50px;
}

.phone_icon p span{
    display: block;
}

.contact_link .link{
    float: left;
}

.contact_link h3{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
}

.link ul{
    margin: 30px 0px 0px -10px;
    list-style: none;
}

.link ul li{
    margin: 20px 0px;
}

.link ul li a{
    color: #fff;
    text-transform: capitalize;
}

.link ul li a:hover{
    color: #5bc5f4;
}

.contact_photo{
    width: 330px;
    padding-left: 15px;
}

.contact_photo h3{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
}

.contact_photo img{
    margin: 5px;
    border-radius: 3px;
}

/* contact part end */


/* footer part start */

#footer_part{
    background: #555;
    padding: 10px 0px;
}

.footer_text{
    text-align: center;
}

.footer_text p{
    color: #fff;
}

.footer_text p span{
    color: #5bc5f4;
}

/* footer part end */


























